<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&family=Inconsolata:wght@700&display=swap" rel="stylesheet">
<%-include('partials/head')%>

<body>
  <div class="container">
    <%-include('partials/topbar')%>
    <p> <%=bill.bill_id%> </p>
    <% let billnum = 1 %>
    <% for(var i=0; i<bill.length; i++) {if(bill[i].bill_id==id){billnum=bill[i];}} %>
    <main>
      <section>
        <h1><%= billnum.short_title %></h1>
        <div class="h1-divider"></div>

        <article>
          <p class="intro"><%= billnum.title%></p>

          <h3>Summary</h3>
          <p class="intro"><%= billnum.summary%></p>

          <h3><% let keys = Object.keys(billnum)%></h3>
          <% for(var i=0; i<4; i++) {%>
          <%if(keys[i] == "bill_id"){%>
          <p class="intro">Bill ID: <%= billnum[keys[i]]%></p>
          <%}%>
        <%if(keys[i] == "bill_slug"){%>
          <p class="intro">Bill Slug: <%= billnum[keys[i]]%></p>
          <%}%>
        <%if(keys[i] == "bill_type"){%>
          <p class="intro">Bill Type: <%= billnum[keys[i]]%></p>
          <%}%>
        <%if(keys[i] == "number"){%>
          <p class="intro">Bill Number: <%= billnum[keys[i]]%></p>
          <%}%>


        <%}%>


          <h2>Write a comment!</h2>


          <div>
            <form action="/forum" method="POST">
              <input type="text" placeholder="Bill ID..." id="time" name="billcontent">

              <input type="text" placeholder="Comment..." id="comments" name="comment">

              <input type="text" placeholder="Date..." id="time" name="time">

              <input name="asks" type="Submit" value="Post">

            </form>
          </div>


        </article>

  <div id="messages">

   <h3>Messages</h3>
   <textarea id="messagesDisplay" name="story"
          rows="20" cols="50" readonly>
  </textarea><br>
  <input type="text" id="messageInput"><button type="button" id="sendButton">Send</button><br>

  </div>
  <a style="margin-left:-200px;" id="numClientsDisplay">Participants: 0</a>



<script>
  let socket = io.connect('/');//the default namespace
  socket.emit('connectionEvent', {userFirstName: '<%=accounts[userid].displayName%>'});

  socket.on('announcement', function(data) {
      let mDisplay = document.getElementById('messagesDisplay');
      let text ="";
      if(data.userFirstName)
         text = data.userFirstName+": "+data.message+"\n";
      else
         text = data.message+"\n";
      mDisplay.value +=text;



  });

  socket.on('connectionEvent', function(data) {
      //keep track of the current number of participants in the numClientsDisplay span
      var numClientsDisplay = document.getElementById('numClientsDisplay');
      let text = "Participants: "
      numClientsDisplay.innerText = text;
      numClientsDisplay.href=""
      let mDisplay = document.getElementById('messagesDisplay');

      text = "<%=accounts[userid].displayName%>"+" "+data.message+"\n";

      mDisplay.value =  mDisplay.value.trim()+text;
const elem = document.createElement('a');
elem.href="/users/<%=accounts[userid].displayName%>";
elem.innerText = "<%=accounts[userid].displayName%>,";
numClientsDisplay.parentNode.insertBefore(elem, numClientsDisplay.nextSibling);

  });

  document.getElementById("sendButton").addEventListener('click', function(){
    let messageData = document.getElementById("messageInput").value;
    console.log("sending: "+messageData);
    socket.emit('announcement', { userFirstName: "<%=accounts[userid].displayName%>" , message: messageData });
  });

</script>

</body>
