<%-include('partials/head')%>
<body>
  <div class="container">
  <%-include('partials/topbar')%>

  <% for(var i=0; i<data2.results[0].bills.length; i++) {%>
    <div class="courses-container">
    	<div class="course">
    		<div class="course-preview">
    			<h6>Bill <%=i+1%></h6>
    			<h2><%=data2.results[0].bills[i].short_title%></h2>
    			<h6 style="font-size:20px;	text-transform:none;">Introduced <%=data2.results[0].bills[i].introduced_date%></h6>
    		</div>
    		<div class="course-info">
    			<div class="progress-container" style="width:56px;height:56px;">
    				<div class=""><img src="https://cdn-icons-png.flaticon.com/512/3754/3754835.png" alt="Girl in a jacket" width="55" height="55"></div>
    			</div>
          <% if (data2.results[0].bills[i].enacted != null){%>
            <h5 style="font-size:25px; margin-top:5px;">Enacted <span style="color:green; font-size:30px;"> &nbsp;&nbsp;&#10004;</span></h5>
            <%} else { %>
              <h5 style="font-size:25px; margin-top:5px;">Enacted <span style="color:red; font-size:25px;"> &nbsp;&nbsp;&#10060;</span></h5>
              <% if (data2.results[0].bills[i].house_passage != null){%>
                <h5 style="font-size:25px; margin-top:5px;">House Passage <span style="color:green; font-size:30px;"> &nbsp;&nbsp;&#10004;</span> - <%=data2.results[0].bills[i].house_passage%> </h5>

                <%} else { %>
                  <h5 style="font-size:25px; margin-top:5px;">House Passage: <span style="color:red; font-size:25px;"> &nbsp;&nbsp;&#10060;</span></h5>

                    <% } %>
                <% } %>
                <% if (data2.results[0].bills[i].senate_passage != null){%>
                  <h5 style="font-size:25px; margin-top:5px;">Senate Passage <span style="color:green; font-size:30px;"> &nbsp;&nbsp;&#10004;</span> - <%=data2.results[0].bills[i].senate_passage%> </h5>

                  <%} else { %>
                    <h5 style="font-size:25px; margin-top:5px;">Senate Passage: <span style="color:red; font-size:25px;"> &nbsp;&nbsp;&#10060;</span></h5>

                      <% } %>
          <h5 style="font-size:16px; margin-top:5px;">Latest Action: <%=data2.results[0].bills[i].latest_major_action%> (<%=data2.results[0].bills[i].latest_major_action_date%>) </h5>

    			<h2></h2>
    			<button class="btn">Read More</button>
    		</div>
    	</div>
    </div>

<% } %>


<div class="container__row-14" style="  outline: 0px solid black;"><div class="container__col-120" style="  outline: 0px solid black;">
  <h1 data-heading="Slide" style="font-size:80px;         box-shadow: 0px 0px 0px black;  outline: 0px solid black;"></h1>


</div></div>


  <div class="container__row-50" style="margin-top:100px;"><div class="container__col-40 container__col-offset-" ><img src=<%=data["articles"][0]["urlToImage"]%>></div><div class="container__col-40" ><img src=<%=data["articles"][1]["urlToImage"]%>></div><div class="container__col-40" ><img src=<%=data["articles"][2]["urlToImage"]%>></div></div>
  <div class="container__row-40" ><div class="container__col-40 " style="display:inline-table; font-size:60%;padding:8px; margin-left:0px;"><%=data["articles"][0]["title"]%>
<p style="font-size:75%; font-family:'Helvetica', sans-serif; padding:5px;"><%=data["articles"][0]["description"]%></p>
  </div><div class="container__col-40" style="display:inline-table; font-size:60%;padding:8px; margin:0 auto;"><%=data["articles"][1]["title"]%>
<p style="font-size:75%; font-family:'Helvetica', sans-serif;"><%=data["articles"][1]["description"]%></p></div><div class="container__col-40" style="display:inline-table; padding:8px;font-size:60%;padding:5px; margin:0 auto;"><%=data["articles"][2]["title"]%>
<p style="font-size:75%; font-family:'Helvetica', sans-serif;"><%=data["articles"][2]["description"]%></p></div></div>

<% for(var i=3; i<data["articles"].length; i++) {%>
<div class="container__row-20" style="margin-top:30px; overflow:hidden; height:200px;">
  <div class="container__col-20" style="" ><img src=<%=data["articles"][i]["urlToImage"]%> width=200px height=100px ></div><div class="container__col-100" style="display:inline-table; font-size:70%; padding:10px;"><%=data["articles"][i]["title"]%>
<p style="font-size:80%; font-family:'Helvetica', sans-serif;"><%=data["articles"][i]["description"]%></p></div></div>
<% } %>



<div class="container__row-20" style="margin-top:10px;" ><div class="container__col-20" >Pic</div><div class="container__col-100" >Description</div></div>
<div class="container__row-20" style="margin-top:10px;"><div class="container__col-20" >Pic</div><div class="container__col-100" >Description</div></div>
<div class="container__row-20" style="margin-top:10px;"><div class="container__col-20" >Pic</div><div class="container__col-100" >Description</div></div>
</div>

<div id = "Bills">



</div>


</body>
